<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:8889/facturacion?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sanchezjp</property>
    <property name="hibernate.connection.password">sanchezjp</property>
    <mapping resource="com/sanchezjp/modelo/entities/DetallesFactura.hbm.xml"/>
    <mapping resource="com/sanchezjp/modelo/entities/Clientes.hbm.xml"/>
    <mapping resource="com/sanchezjp/modelo/entities/Facturas.hbm.xml"/>
    <mapping resource="com/sanchezjp/modelo/entities/Articulos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
